@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
    /* background-color: #12121f; */
    /* color: #eee; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drawArea {
    border: solid 1px #222227;
    border-radius: 40px;
    width: 80vh;
    height: 80vh;
    /* background-color: #222227; */
    box-shadow: 0 0.5rem 3rem rgba(83, 83, 76, 0.795);
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 1fr 20fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.menuButtons {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCls {
    padding: 0.1rem;
    margin: 0.3rem;
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
}

#canvas {
    margin: 0;
    padding: 0;
}


.box5 {
    /* grid-row: 1 / span 2;
    grid-column: 2 / span 1; */
    background: white;
    /* background-image: url("walrus.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#colourInput {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.buttonFind {
    cursor: pointer;
    position: absolute;
    /* margin: 10%; */
    padding: 5px;
    color: white;
    background: transparent;
    border: 2px solid white
}

.buttonT {
    position: absolute;
    left: 10%;
    bottom: 10%;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
    color: white;
    background: transparent;
    border: 2px solid white
}

#bt {
    text-align: center;
}

.button1:hover {
    box-shadow: 2px 2px 50px 20px white;
}